/*************** Animations ***************/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@keyframes slideOutToTop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-400%);
      opacity: 0;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slightInFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slightInFromRight {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
/*************** NavBar ***************/
.navbar{
    color: white;
    padding: 10px;
    font-family: Montserrat;
    margin: auto;

    display: grid !important;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 60px 40px;
    grid-template-areas:
    ". name navSide"
    ". navLinks .";
    justify-content: center;
    align-items: center;

    background-color:rgba(8, 8, 8, .5);
}

.navbar__links{
    grid-area: navLinks;
    display: grid;
    grid-template-columns: repeat(5, 175px);
    grid-template-rows: auto;
    grid-template-areas:
    " home about professional interests contact";
    /* animation: 1s ease 0s 1 slideInFromRight; */
}

/*************** NavBar Sidebar ***************/
.navbar__sidebar{
    display: none;
    grid-area: navSide;
}

/*************** NavBar Links ***************/

.navbar__name{
    color: var(--mainColor);
    font-size: 3.5em;
    animation: 1s ease 0s 1 slideInFromLeft;
    grid-area: name;
}

.navbar__home{
    grid-area: home;
}

.navbar__about{
    grid-area: about;
}

.navbar__professional{
    grid-area: professional;
}

.navbar__other-interests{
    grid-area: interests;
}

.navbar__contact{
    grid-area: contact;
}

.navbar__item{
    justify-self: center;
}

.navbar__link{
    font-size: 125%;
    text-decoration: none;
    animation: .5s ease 0s 1 scaleUp;
    justify-self: center;
    transition: .25s;
}

.navbar__link:hover{
    font-size: 130%;
    color: var(--secondaryColor);
    text-decoration: underline;
    transition: .25s;
}

.navbar--active{
    font-size: 130%;
    color: var(--secondaryColor);
    font-weight: bold;
    text-decoration: underline;
    flex-wrap: wrap;
}

/* .navbar--hidden{
    display: none;
} */


/*************** Smaller Screens/Phones ***************/

@media only screen and (max-width: 850px) {

    .navbar{
        /* position: relative; */
        grid-template-rows: 100px;
        grid-template-areas:
        ". name navSide";
    }

    .navbar__name{
        font-size: auto;
        text-align: center;
    }

    .navbar__sidebar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        animation: .5s ease 0s 1 scaleUp;
    }

    .navbar__sidebar-hamburger:hover{
        cursor: pointer;
    }

    .navbar__sidebar:hover .navbar__sidebar-hamburger-line{
        background-color: var(--mainColor);
    }

    .navbar__sidebar-hamburger{
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar__sidebar-hamburger-line{
        width: 100%;
        height: 15%;
        background-color: white;
    }

    .navbar__links{
        grid-area: none;
        position: absolute;
        top: 120px;
        left: 0;
        right:0;
        bottom:0;
        padding: 10% 0;
        background: rgba(64, 64, 64, .95);

        display: none;
        flex-direction: column;
        align-items: center;
        z-index: 10 !important;
        overflow-y: auto;
    }

    .navbar__links::-webkit-scrollbar {
        display: none;
    }

    .navbar__link{
        font-size: 150%;
        margin: 5% 0;
    }

    .navbar__link:hover{
        font-size: 165%;
        margin: 5% 0;
    }

    .navbar--active{
        font-size: 165%;
    }
}
