.main__other-interests-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    -webkit-text-stroke: .5px black;
    margin: auto;
    max-width: 1300px;
}

.main__other-interests-vp-header,
.main__other-interests-acapella-header{
    text-decoration: underline lightskyblue;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.main__other-interests-vp-anchor:hover,
.main__other-interests-acapella-anchor:hover{
    color: cyan;
    -webkit-transition: color .3s linear;
    -ms-transition: color .3s linear;
    transition: color .3s linear;
}

.main__other-interests-vp-div,
.main__other-interests-acapella-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main__other-interests-vp-div{
    animation: 1s ease 0s 1 slideInFromRight;
}
.main__other-interests-acapella-text,
.main__other-interests-vp{
    -webkit-text-stroke: .5px lightskyblue;
}

.main__other-interests-vp-videos{
    animation: 1s ease 0s 1 slideInFromRight;
    width:100%;
    display: grid;
    grid: display;
    grid-template-columns: 1fr 1fr;
}
.main__other-interests-acapella-video,
.main__other-interests-vp-video{
    margin: 5px;
}

.main__other-interests-acapella-div{
    width: 80%;
    animation: 1.5s ease 0s 1 slideInFromRight;
}


.main__other-interests-acapella{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main__other-interests-acapella-highkey,
.main__other-interests-acapella-vibes{
    margin:10px
}

.main__other-interests-acapella-highkey-img,
.main__other-interests-vp-youtube,
.main__other-interests-acapella-youtube{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

@media only screen and (max-width: 750px) {
    .main__other-interests-vp-videos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .main__other-interests-acapella{
        display: flex;
        flex-direction: column;
    }

}
