.main__contact-div{
    margin: 5% auto;
    max-width: 800px;
    width: 80%;

    color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__contact-email{
    margin-bottom: 5%;
}

.main__contact{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 850px) {
    .main__contact{
        flex-direction: column;
    }

    .main__contact-info{
        margin-top: 5%;
    }


}