/* Variables */

:root {
    --turquoiseSurf: rgba(0, 185, 211, 1);
    --oceanBlue: rgba(15, 120, 190, 1);
    --electricBlue: rgba(114, 236, 255, 1);
    --water: rgba(147, 237, 210, 1);
    --darkElectricBlue: rgba(83, 104, 120,1);
    --davyGrey: rgba(77, 83, 94, 1);
    --blackCoral: rgba(88, 93, 107, 1);



    --mainColor: var(--electricBlue);
    --secondaryColor: var(--turquoiseSurf);

    --header: var(--electricBlue);

    --backgroundColor: var(--davyGrey);
    --darkerBackgroundColor: var(--blackCoral);

  }



/* Add site wide styles */
.background-dim{
    font-family: Montserrat;
    background-image: url('./img/pixel-art-japan-street-corner.gif');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    overflow: auto;
}

.all-content{
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(8, 8, 8, .80);
    transition: 1s;
}

.all-content-home{
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(8, 8, 8, .30);
    transition: 1s;
}


.main{
    margin: auto;
    margin-bottom: 50px;
}

.main__anchor-icon{
    position: relative;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.main__icon-background{
    position: absolute;
    top:10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: white;
    z-index: 1;
}

.main__icon-background:hover{
    background: var(--secondaryColor);
    -webkit-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

.main__icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 2;
    pointer-events: none;
}
